<ul>
  <a href="https://www.facebook.com/Formula1" title="Facebook"
    ><li>
      <i class="fa-brands fa-facebook-f"></i>
    </li>
  </a>

  <a href="https://twitter.com/f1" title="Twitter"
    ><li>
      <i class="fa-brands fa-twitter"></i></li
  ></a>

  <a href="https://www.instagram.com/f1/" title="Instagram"
    ><li>
      <i class="fa-brands fa-instagram"></i></li
  ></a>

  <a href="https://www.youtube.com/F1" title="Youtube"
    ><li>
      <i class="fa-brands fa-youtube"></i></li
  ></a>
</ul>
