<div class="container">
  <span>
    <h3>Latest News</h3>
    <ul>
      <a href="#"><li>Video</li></a>
      <a href="#"><li>Drivers</li></a
      ><a href="#"><li>Teams</li></a
      ><a href="#"><li>Schedule</li></a>
    </ul></span
  >
  <span>
    <h3>Standing</h3>
    <ul>
      <a href="#"><li>2023 Season</li></a>
      <a href="#"><li>Driver standing</li></a
      ><a href="#"><li>Constructor standing</li></a
      ><a href="#"><li>Archive 1950-2022</li></a
      ><a href="#"><li>F1 Awards</li></a>
    </ul></span
  >
  <span>
    <h3>Gaming</h3>
    <ul>
      <a href="#"><li>Esports</li></a>
      <a href="#"><li>Fantasy</li></a
      ><a href="#"><li>F1 22</li></a
      ><a href="#"><li>F1 Manager 2022</li></a
      ><a href="#"><li>F1 Play</li></a>
    </ul></span
  >
  <span class="logo">
    <img
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      title="Home page"
      src="https://raw.githubusercontent.com/Stanghi/js-array-objects-carousel/main/assets/img/logo.png"
      alt="logo"
  /></span>
</div>
