.header {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--secondary);

  .links {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 1rem;
      font-weight: bolder;
      text-transform: capitalize;
      color: var(--primary);

      &.active {
        color: var(--tertiary);
        border-bottom: 2px solid var(--tertiary);
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid var(--primary);
      }
    }
  }
}
