<div class="header">
  <img
    routerLink="/"
    title="Home page"
    src="https://raw.githubusercontent.com/Stanghi/js-array-objects-carousel/main/assets/img/logo.png"
    alt="logo"
  />

  <ul class="links">
    <li
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      title="Home page"
    >
      Home page
    </li>
    <li [routerLinkActive]="['active']" routerLink="about" title="About page">
      About
    </li>
    <li
      [routerLinkActive]="['active']"
      routerLink="contacts"
      title="Contacts page"
    >
      Contacts
    </li>
  </ul>
</div>
