.header {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 20px 250px;
  background-color: var(--secondary);

  img {
    height: 100%;
    margin-right: 25px;
    filter: contrast(0%) brightness(200%);

    &:hover {
      cursor: pointer;
    }
  }

  .links {
    display: flex;
    list-style: none;
    padding: 0;

    li {
      margin-right: 20px;
      font-size: 1rem;
      font-weight: bolder;
      text-transform: capitalize;
      color: var(--primary);

      &.active {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid var(--primary);
      }
    }
  }
}
