<div class="container">
  <div class="jumbotron">
    <h1>Drive to survive.</h1>
  </div>

  <div class="container-content">
    <h2>Racing schedule</h2>
    <div class="container-card">
      <app-cards-schedule
        *ngFor="let item of dbSchedule"
        [item]="item"
      ></app-cards-schedule>
    </div>

    <h2>F1 Drivers</h2>
    <div class="container-card">
      <app-cards-drivers
        *ngFor="let item of dbDrivers"
        [item]="item"
      ></app-cards-drivers>
    </div>
  </div>
</div>
